rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /donationCampaigns/{campaignId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /nft_collections/{collectionId} {
      allow read, create, update, delete: if true;
    }
  }
} 